<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body{
        background-color:#1f3e4d;
    }
    .logo img{
        width: 200px;
        height:200px;
        margin-left:130px;
        margin-top:-40px;
    }
    .card{
        background-color:#1F4D49;
        color:black;
        padding:20px;
    }
</style>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="logo">
                            <img src="{% static 'icon.png' %}" alt="Company Logo">
                        </div>
 <!-- login.html -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Your login form goes here -->
                       
                        <h1 class="card-title text-center">Login</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username"><b>Username:<b></label>
                                <input type="text" name="username" class="form-control" id="id_username" required>
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password:</label>
                                <input type="password" name="password" class="form-control" id="id_password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style="margin-top:30px">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JavaScript at the end of the body -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
